.tightbox-overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
  
  .tightbox-container {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid white;
    border-radius: 3px;
  }
  
  .tightbox-image {
    display: block;
  }
  
  .tightbox-button {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -2em;
  }
  
  .tightbox-button-left {
    left: 2em;
    border-bottom: 2em solid transparent;
    border-top: 2em solid transparent;
    border-right: 4em solid rgba(255, 255, 255, .5);
  }
  
  .tightbox-button-right {
    right: 2em;
    border-bottom: 2em solid transparent;
    border-top: 2em solid transparent;
    border-left: 4em solid rgba(255, 255, 255, .5);
  }
  